nav {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  width: 80%;
  margin: 1rem auto;
  padding: 1rem;
  left: 0;
  right: 0;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  z-index: 1000;
  border: 1px dotted #000;
}

nav ul {
  display: flex;
  list-style: none;
  margin-left: auto;
  gap: 0.7rem;
}

nav ul li {
  font-weight: 800;
  color: rgb(0, 0, 0);
  text-decoration: underline;
}

nav h2 {
  font-weight: 800;
}
