.Nav{
    width:100%;
    display: flex;
}

.Nav ul{
    width:100%;
    display: flex;
    list-style: none;
    justify-content: right;
    gap: 10px;
    padding-right: 5px;
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 10px;

}

.Nav ul li :link{
    color: #4ED9AC;
    text-decoration: none;
    transition: all 0.12s ease-in-out;
    font-weight: 500;
    border-left: 1px solid black;
    padding-left: 10px;
    

}


.Nav ul li :visited, .Logout-button:visited{
    color:#4ED9AC;
    text-decoration: none;
}

.Nav ul li :hover, .Logout-button:hover{
    color:#4ED9AC;
    text-decoration: none;
    font-size: 20px;
}

.Nav ul li :active{
    color:#4ED9AC;
    text-decoration: none;
}

.Nav ul li .Our-Services{
    border: 1px solid black;
    padding:6px;
    background-color: #0a1b3c;
    color: #4ED9AC;

}
.Logout-button{
    transition: .2s ease-in-out;
    margin-right: 10px;
}

.Logout-button:hover{
    scale: 1.2;
}

