.Text-Area{
    width: 100%;
    max-width: 1200px;
    margin:0 auto;
    border: none;
}

.Wrapper{
    width: 100%;
    max-width: 1200px;
    margin:0 auto;
    border: none;
    display: flex;
    flex-direction: column;
}

.Wrapper > h1{
    font-size: 1.5rem;
}

